/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #2f93ae;
  font-family: "Open Sans", sans-serif;
}

.container {
  max-width: 645px;
  margin: auto;
  background: #f2f7fb;
  padding: 30px;
  border-radius: 7px;
  margin-top: 36px;
  -webkit-box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.2);
}
.container button, .container .label-float input {
  display: block;
  width: 100%;
}
.container .title-table {
  margin-bottom: 20px;
}
.container table {
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.8rem;
}
.container table th {
  font-weight: 600;
  text-align: start;
  padding-left: 8px;
}
.container table tr td {
  padding-left: 8px;
}
.container .form {
  margin-top: 32px;
}
.container .title-form, .container .title-table {
  font-weight: 600;
  font-size: 1.4rem;
}
.container .label-float {
  margin-block: 20px;
  position: relative;
}
.container .label-float label {
  text-align: center;
  font-size: 1.1rem;
  display: inline-block;
  padding-inline: 2px;
  background-color: #f2f7fb;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 14px;
  margin-top: 11px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.container .label-float input {
  padding: 10px 8px;
  background-color: transparent;
  border: 1px solid #b3b0b0;
  border-radius: 2px;
  font-size: 1rem;
}
.container .label-float input:focus {
  outline: 1px solid #2f93ae;
}
.container .label-float input::-webkit-input-placeholder {
  color: transparent;
}
.container .label-float input::-moz-placeholder {
  color: transparent;
}
.container .label-float input:-ms-input-placeholder {
  color: transparent;
}
.container .label-float input::-ms-input-placeholder {
  color: transparent;
}
.container .label-float input::placeholder {
  color: transparent;
}
.container .label-float input:not(:-moz-placeholder-shown) + label {
  margin-top: -10px;
  font-size: 1rem;
}
.container .label-float input:not(:-ms-input-placeholder) + label {
  margin-top: -10px;
  font-size: 1rem;
}
.container .label-float input:focus + label, .container .label-float input:not(:placeholder-shown) + label {
  margin-top: -10px;
  font-size: 1rem;
}
.container button {
  font-size: 1.2rem;
  padding: 8px;
  background-color: #2f93ae;
  border: none;
  border-radius: 4px;
  color: #f2f7fb;
  font-weight: 600;
  -webkit-transition: background-color 0.1s ease-in-out;
  transition: background-color 0.1s ease-in-out;
}
.container button:hover {
  background-color: #298098;
}

.bordaBlue {
  border: 3px solid #2f93ae;
  font-weight: 600;
}